.img-mask-7,
.img-mask-1 {
    display: block;
    position: relative;
}

.img-mask-1::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.img-mask-7::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.line hr {
    border: 0;
    border-top: 1px solid lightgray;
    flex: 1;
    z-index: 1;
}

.line .line-text {
    font-size: 1.5em;
    color: grey;
    text-transform: uppercase;
    padding: 0 3em;
}

.card-top-right {
    position: absolute; 
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
    z-index: 2;
}

.card-percent {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    display: block;
    border: 1px solid #343a40;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    line-height: 3.5em;
    box-sizing: border-box; 
    background: #343a40;
}

.hovered-mask {
    display: block;
    position: relative;
}

.hovered-mask:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
}

.hovered-mask:hover:after {
    opacity: 1;
}

.card-body .card-info {
    opacity: 0;
    z-index: 6;
}

.card-body:hover > .card-info {
    opacity: 1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
main {
    margin-bottom: 12em; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 8.2em;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
}
body > main {
    padding: 60px 15px 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}